.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.btn {
  background: #000000;
  color: #ffffff;
  padding: 15px 20px;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  width: 100px;
  height: 15px;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 2%;
}

.baby {
  width: 250px;
  display: block;
  margin-bottom: 0cm;
  border-radius: 35%;
  height: 250px;
  padding: 100px;
}
.baby2 {
  width: 250px;
  display: block;
  margin-top: -0%;
  border-radius: 35%;
  height: 250px;
  padding: 100px;
}
.baby3 {
  width: 250px;
  display: block;
  margin-bottom: 0cm;
  border-radius: 35%;
  height: 250px;
  padding: 100px;
}

.baby4 {
  width: 250px;
  display: block;
  margin-bottom: 0cm;
  border-radius: 35%;
  height: 250px;
  padding: 100px;
}

#blat {
  text-align: left;
  text-align: RIGHT;
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  display: flex;
}
#abb {
  text-align: RIGHT;
  position: absolute;
  margin-top: 125px;
  max-width: 40ch;
  margin-bottom: 500px;
  margin-left: 370px;
  display: flex;
}
.abbb {
  display: flex;
  gap: 100px;
}
.divv {
  display: flex;
  gap: 100px;
}

.huila2 {
  display: flex;
}

#title22 {
  text-align: RIGHT;
  position: absolute;
  margin-top: 70px;
  max-width: 40ch;
  margin-bottom: 500px;
  margin-left: 470px;
  display: flex;
}

#title32 {
  text-align: left;
  position: absolute;
  margin-top: -830px;
  max-width: 40ch;
  margin-bottom: 00px;
  margin-left: 400px;
  display: flex;
}

#abbbbb {
  display: flex;
  gap: 100px;
  text-align: RIGHT;
  position: absolute;
  margin-top: -775px;
  max-width: 35ch;
  margin-bottom: 500px;
  margin-left: 360px;
  display: flex;
}

#abbbbbb {
  display: flex;
  gap: 100px;
  text-align: RIGHT;
  position: absolute;
  margin-top: -33px;
  max-width: 35ch;
  margin-bottom: 500px;
  margin-left: 360px;
  display: flex;
}
#title302 {
  text-align: left;
  position: absolute;
  margin-top: -830px;
  max-width: 40ch;
  margin-bottom: 00px;
  margin-left: 400px;
  display: flex;
}

#abbbobb {
  display: flex;
  gap: 100px;
  text-align: RIGHT;
  position: absolute;
  margin-top: -323px;
  max-width: 40ch;
  margin-bottom: 500px;
  margin-left: 360px;
  display: flex;
}

#title032 {
  text-align: left;
  position: absolute;
  margin-top: -380px;
  max-width: 40ch;
  margin-bottom: 00px;
  margin-left: 400px;
  display: flex;
}

#abbobobb {
  display: flex;
  gap: 100px;
  text-align: RIGHT;
  position: absolute;
  margin-top: 130px;
  max-width: 35ch;
  margin-bottom: 500px;
  margin-left: 360px;
  display: flex;
}
#abbb {
  display: flex;
  gap: 100px;
  text-align: RIGHT;
  position: absolute;
  margin-top: -303px;
  max-width: 35ch;
  margin-bottom: 500px;
  margin-left: 360px;
  display: flex;
}
#title0032 {
  text-align: left;
  position: absolute;
  margin-top: 70px;
  max-width: 40ch;
  margin-bottom: 00px;
  margin-left: 400px;
  display: flex;
}
.bottom-block {
  width: 287%;
  height: 69px;
  background: #001558;
  color: #001558;
  text-align: center;
  margin-left: -44%;
  padding: 40px 0;
  display: flex;
  margin-left: -130%;
  margin-top: 100px;
  margin-bottom: -10px;
}

#cvc {
  display: block;
  text-align: center;
  margin-top: 3%;
}

.logo2 {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border-radius: 2%;
}

.text22 {
  max-width: 500px;
  text-align: center;
  position: absolute;
  left: 30%;
}

.btn2 {
  position: relative;
  padding: 10px 32px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 0px;
  letter-spacing: 1px;
  width: 45px;
}
